@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 600; /* Regular */
  font-style: normal;
  src: url("/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "Vastago";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/fonts/VastagoGrotesk-Regular.otf");
}
